{% extends "base/generic.html" %}

{% block extra_head %}
<style>

</style>    
{% endblock %}

{% block title %}{{app_description}}{% endblock %}

{% block content %}
<h1>{{titulo}}  <small class="text-muted">{{subtitulo}}</small> <a class="btn btn-primary" href="cadastrar" role="button">novo</a></h1>
    

<table class="table">
    <thead>
      <tr>
        {% for th in ths %}            
                <th scope="col">{{th}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for object in objects %}       
        <tr>    
                <td scope="row">{{object.id}}</td>            
                <td scope="row"><a href="/material/{{object.material.id}}">{{object.material}}</a></td>
                <td scope="row">{{object.tipo}}</td>
                <td scope="row">{{object.quantidade_paginas}}</td>
                <td scope="row">{{object.tamanho}}</td>
                <td scope="row">{{object.partes}}</td>
                <td scope="row">
                  {% if object.arquivo_original %}
                  <a href="{{object.arquivo_original.url}}" download>arquivo</a>
                  {% else %}
                  nenhum arquivo encontrado
                  {% endif %}                  
                </td>
                {% if object.is_disponivel_para_pedido == 'True' %}
                  <td scope="row">Sim</td>
                  {% else %}
                  <td scope="row">Não</td>
                {% endif %}                  
            </tr>        
            {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
  </ul>
</nav>
{% endblock %}