{% extends "base/generic.html" %}

{% block extra_head %}
<style>

</style>    
{% endblock %}

{% block title %}{{app_description}}{% endblock %}

{% block content %}
<h1>{{titulo}}  <small class="text-muted">{{subtitulo}}</small></h1>
    

<table class="table">
    <thead>
      <tr>
        {% for th in ths %}            
                <th scope="col">{{th}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for object in objects %}       
        <tr>    
                <td scope="row">{{object.id}}</td>            
                <td scope="row">{{object.classificacao}}</td>
                <td scope="row">{{object.titulo}}</td>
                <td scope="row">{{object.autor}}</td>
                <td scope="row">{{object.edicao}}</td>
                <td scope="row">{{object.editora}}</td>
                <td scope="row">{{object.publico_alvo}}</td>
                <td scope="row">{{object.acervo}}</td>
                <td scope="row">{{object.tiragem}}</td>
                <td scope="row">{{object.quantidade_paginas}}</td>
                <td scope="row">
                    {% if object.arquivo_original %}
                    <a href="{{object.arquivo_original.url}}" download>arquivo</a>
                    {% else %}
                    nenhum arquivo encontrado
                    {% endif %}
                    <a href=""
                </td>
            </tr>        
            {% endfor %}
    </tbody>
</table>

{% endblock %}