{% extends "base/generic.html" %}

{% block extra_head %}
<style>

</style>    
{% endblock %}

{% block title %}{{app_description}}{% endblock %}

{% block content %}
<h1>{{titulo}}  <small class="text-muted">{{subtitulo}}</small> <a class="btn btn-primary" href="cadastrar" role="button">novo</a></h1>


<table class="table">
    <thead>
      <tr>
        {% for th in ths %}            
          <th scope="col">{{th}}</th>
        {% endfor %}
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for object in objects %}
        <tr>  
                <td scope="row">{{object.id}}</td>            
                <td scope="row">{{object.classificacao}}</td>
                <td scope="row">{{object.titulo}}</td>
                <td scope="row">{{object.autor}}</td>
                <td scope="row">{{object.edicao}}</td>
                <td scope="row">{{object.editora}}</td>
                <td scope="row">{{object.publico_alvo}}</td>
                <td scope="row">{{object.acervo}}</td>
                <td scope="row">{{object.tiragem}}</td>
                <td scope="row">{{object.quantidade_paginas}}</td>                
                <td scope="row">
                    {% if object.arquivo_original %}
                      <a href="{{object.arquivo_original.url}}" download>arquivo</a>
                    {% else %}
                      nenhum arquivo encontrado
                    {% endif %}               
                  </td>
                  <td scope="row">
                    {% if object.materiais_adaptados.all %}
                      {% for material in object.materiais_adaptados.all %}
                      <li><a href="/material/adaptado/{{material.id}}">{{ material.tipo }}</a></li>
                      {% endfor %}     
                    {% endif %}
                  </td>
                <td scope="row">
                  <a class="btn btn-outline-primary" text="visualizar" role="button" href="/material/{{object.id}}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16"><path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/> </svg>
									</a>
									<a class="btn btn-outline-primary" text="editar" role="button" href="/material/editar/{{object.id}}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>
									</a>
									<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" attr="data-bs-target='#delete'+${fornecedor.id}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/><path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/></svg>
									</button>
										<!-- Modal -->
										<!-- <div class="modal fade" attr="id='delete'+${fornecedor.id}" tabindex="-1" aria-labelledby="'delete'+${fornecedor.id}" aria-hidden="true">
										  <div class="modal-dialog">
										    <div class="modal-content">
										      <div class="modal-header">
										        <h5 class="modal-title" attr="id='delete'+${fornecedor.id}">Exlusão de fornecedor</h5>
										        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										      </div>
										      <div class="modal-body">
										        <p>Tem certeza que deseja excluir o fornecedor:<br /><b><span text="${fornecedor}"></b>?</p>
										        <p class="text-danger">Essa ação não poderá ser desfeita</p>		
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
										        <a class="btn btn-outline-danger" role="button" href="@{deletar/{id}(id=${fornecedor.id})}">Sim</a>										        
										      </div>
										    </div>
										  </div> -->
										</div>		
                </td>
            </tr>        
            {% endfor %}
    </tbody>
</table>


  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if not objects.has_previous %}
      <li class="page-item disabled"><a  class="page-link">&laquo; Primeira</a></li>
      <li class="page-item disabled"><a  class="page-link">anterior</a></li>
      {% else %}
      <li class="page-item"><a href="?page=1" class="page-link">&laquo; Primeira</a></li>
      <li class="page-item"><a href="?page={{ objects.previous_page_number }}" class="page-link ">anterior</a></li>
      {% endif %}
      
      {% if objects.has_next %}
      <li class="page-item"><a href="?page={{ objects.next_page_number }}" class="page-link">próximo</a></li>
      <li class="page-item"><a href="?page={{ objects.paginator.num_pages }}" class="page-link">última &raquo;</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link">próximo</a></li>
      <li class="page-item disabled"><a class="page-link">última &raquo;</a></li>
      {% endif %}
    </ul>
    <span class="current">
      Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
    </span>
    </nav>
  </div>
</nav>

{% endblock %}