<!-- register_multiple_entities.html -->
<!DOCTYPE html>
<html>
<head>
    <style>
        .endereco{
            padding: 20px;
            display: inline-block;
        }
            .endereco b {
                text-transform:uppercase;
            }

        .endereco:nth-child(even){
            float:right;
            width: 45%;                
        }

        .endereco:nth-child(odd){
            float:left;
            clear: both;                
        }

    </style>

    <title>Etiquetas correios</title>
</head>
<body>

        {% for saida, values in registroSaidaAssinaturas.items %}
        <!-- <h1>{{ saida }}</h1> -->
        
            <div class="enderecos">
            {% for solicitante in values.solicitantes %}
                <div class='endereco'>
                    <!-- <p>Nº pedido: {{pedido.numero_pedido}}</p> -->
                    <b>{{ solicitante }}</b><br>
                    {{ solicitante.pessoa.endereco.html_endereco }}<br>           
                </div>
            {% endfor %}
            </div>        
        {% endfor %}
    

</body>
</html>
